---
import Layout from "../layouts/Post.astro";
---

<Layout
	title="About Us"
	description="About Firelands Core Project"
	pubDate={new Date("September 11 2023")}
>
	<p>
		Firelands Core Project is an Open source Community that are interested
		in working on an emulador of World Of Warcraft for the version 4.3.4
		(Cataclysm) with educational purposes. Our intention is to create a
		Community in which people can participate, learn, study and contribute
		to make the best emulator.
	</p>
</Layout>
