---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>We are an Open Source and Modular Solution for MMO Games.</h1>
			<p>
				This are our value added features:
				<ul>
					<li>
						<b>Playable:</b> Our Idea is to offer a working and
						Playable server application. We have a strict piplelines
						to try to ensure the best code quality before mergin new
						code or customizations.
					</li>
					<li>
						<b>Open Source:</b> We are an Open Source community, Our
						modules and Core are relesed under the [GNU AGPL
						V3.0](https://github.com/FirelandsProject/firelands-cata/blob/master/LICENSE).
					</li>
					<li>
						<b>Modular:</b> We Have modules!, so you can extend your
						core as far as you can, without touching the Blizzlike
						stuff regarding the Basis of the core.
					</li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
