<div class="sidebar-wrapper">
    <script language= "JavaScript">
        $(document).ready(function() {
            const url = window.location;
            const lang = url.pathname.split('/')[2];
            if (lang == 'es')
            {
                document.getElementById('es').style.display = 'inline';
            }
            else
            {
                document.getElementById('en').style.display = 'inline';
            }
        });
    </script>
    <div>
        <div id="en" style="display: none">
            <b>Install:</b>
            <ul>
                <li><a href="/wiki/home">Home</a></li>
            </ul>
        </div>
        <div id="es" style="display: none">
            <b>Instalación:</b>
            <ul>
                <li><a href="/wiki/es/home">Inicio</a></li>
            </ul>
         </div>
    </div>
</div>
